:root {
  --c-primary: #b41c26;
  --c-overlay: #000000;
  --c-text: #000000;
  --f-sans-serif: "Roboto", serif;
  --content-width: 480px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: var(--f-sans-serif, Arial, sans-serif);
  font-size: 16px;
  color: var(--c-text, #000);
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-style: normal;
  font-weight: 400;
}

body::before {
  background: url('/img/doodles.jpg') repeat top left;
  background-attachment: fixed;
  background-size: cover;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.1;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

a:focus-visible,
button:focus-visible {
  outline: 3px solid var(--c-primary);
  outline-offset: 2px;
}

.logo-tag {
  font-size: 1.1rem;
  text-align: center;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
  gap: 16px;
  padding: 64px 16px calc(32px + env(safe-area-inset-bottom));
  width: 100%;
}

.page__content {
  height: 100%;
  margin: 0px auto;
  max-width: var(--content-width);
  width: 100%;
}

.profile {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.profile__header {
  color: var(--c-primary);
  margin-bottom: 16px;
  text-align: center;
}

.profile__content {
  padding-left: 24px;
  padding-right: 24px;
}

.link-tree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 32px;
  text-align: center;
}

.links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links-list__item>a,
.links-list__item>button {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  -webkit-box-shadow: var(--c-overlay) 8px 8px 0px 0px;
  -webkit-transition: -webkit-transform 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 2px solid var(--c-overlay);
  box-shadow: var(--c-overlay) 8px 8px 0px 0px;
  color: var(--c-text);
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-grow: 1;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: -webkit-transform 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out, -webkit-transform 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
  will-change: transform, box-shadow;
  width: 100%;
}

.links-list__item>a:focus,
.links-list__item>button:focus {
  -webkit-box-shadow: var(--c-primary) 10px 10px 0px 0px;
  box-shadow: var(--c-primary) 10px 10px 0px 0px;
}

.links-list__item>a:hover,
.links-list__item>button:hover {
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
}

.socials {
  margin-top: 48px;
  margin-bottom: 16px;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 16px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials-list__item {
  padding: 0;
  margin: 0;
}

/* Modal */

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal__container {
  background-color: #ffffff;
  padding: 32px;
  max-width: var(--content-width);
  max-height: 100vh;
  border-radius: 8px;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
}

.modal__close {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  margin-top: 32px;
  margin-bottom: 32px;
}

@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
    transform: translateY(15%);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
    transform: translateY(15%);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
}

@keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  -webkit-animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  -webkit-animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  -webkit-animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  -webkit-animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}


/* Helpers */

.visually-hidden {
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
}
